body {
    background-color: #82A1B1;
    font-family: sans-serif;
    color: white;
}

.title {
    font-size: 70px;
    font-weight: 900;
    text-align: center;
    color: white;
}

.hub {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hub .box {
    border: 2px solid white;
    flex-grow: 0.15;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    font-size: 50px;
    font-weight: bold;
}

.hub .message {
    font-size: 0px;
    font-weight: bold;
    text-align: center;
    margin: 0 30px;
}

.buttons {
    display: flex;
    margin-top: 50px;
}

.buttons button {
    flex-grow: 1;
    background: none;
    border: none;
}